@{
	@using ScholarStack.Models;
	CommunityPostComment comment = ViewData["comment"] as CommunityPostComment;
}

<div class="comet-avatar">
	<img src="images/resources/comet-1.jpg" alt="">
</div>
<div class="we-comment">
	<div class="coment-head">
		<h5><a href="#" title="">@comment.User.Username</a></h5>
		<span>@comment.Comment.TimeStamp</span>
		<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
		<a class="we-reply" style="color: red;" href="#" title="Delete Comment" id="delete-comment"><i class="fa fa-trash"></i></a>
		<a class="we-reply" style="color: rgb(128, 0, 0);" href="#" title="Ban User" id="ban-user"><i class="fa fa-ban"></i></a>
	</div>
	<p>@comment.Comment.Content</p>
</div>
