@{
	<div class="comet-avatar">
		<img src="images/resources/comet-1.jpg" alt="">
	</div>
	<div class="we-comment">
		<div class="coment-head">
			<h5><a href="#" title="">@ViewData["username"]</a></h5>
			<span>1 year ago</span>
			<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
			<a class="we-reply" style="color: red;" href="#" title="Delete Comment" id="delete-comment"><i class="fa fa-trash"></i></a>
			<a class="we-reply" style="color: rgb(128, 0, 0);" href="#" title="Ban User" id="ban-user"><i class="fa fa-ban"></i></a>
		</div>
		<p>We are working on topological data analysis of the black hole images. Please vote this resource and like our post 😊</p>
	</div>
}
