@using System.Globalization;
@{
	@using ScholarStack.Models;
	CommunityPost communityPost = ViewData["CommunityPost"] as CommunityPost;
	string attachmentUrl = communityPost.Attachment != null ? communityPost.Attachment.URL : "default.png";

	@* Post Creation Date *@
	string formattedDate = communityPost.TimeStamp.ToString("MMMM d, yyyy h:mm tt", CultureInfo.InvariantCulture);
}

<div class="central-meta item">
	<div class="user-post">
		<div class="friend-info">
			<figure>
				<img src="images/resources/friend-avatar10.jpg" alt="">
			</figure>
			<div class="friend-name">
				<ins><a href="#" title="">@communityPost.User.Username</a></ins>
				<span>published: @formattedDate</span>
				<span>score: @communityPost.Score</span>
			</div>
			<div class="post-meta">
				<img src="images/post attachments/@attachmentUrl" alt="">
				<div class="we-video-info">
					<ul>
						<li>
							<span class="views" data-toggle="tooltip" title="views">
								<i class="fa fa-eye"></i>
								<ins>1.2k</ins>
							</span>
						</li>
						<li>
							<span class="comment" data-toggle="tooltip" title="Comments">
								<i class="fa fa-comments-o"></i>
								<ins>52</ins>
							</span>
						</li>
						<li>
							<span class="like" data-toggle="tooltip" title="upvote">
								<i class="fa fa-thumbs-up" aria-hidden="true"></i>
								<ins>2.2k</ins>
							</span>
						</li>
						<li>
							<span class="dislike" data-toggle="tooltip" title="downvote">
								<i class="fa fa-thumbs-down" aria-hidden="true"></i>
								<ins>200</ins>
							</span>
						</li>
						<li class="social-media">
							<div class="menu">
								<div class="btn trigger"><i class="fa fa-share-alt"></i></div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon">
										<a href="#" title=""><i class="fa fa-instagram"></i></a>
									</div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon">
										<a href="#" title=""><i class="fa fa-dribbble"></i></a>
									</div>
								</div>
								<div class="rotater">
									<div class="btn btn-icon">
										<a href="#" title=""><i class="fa fa-pinterest"></i></a>
									</div>
								</div>

							</div>
						</li>
					</ul>
				</div>
				<div class="description">
					<p>
						@communityPost.Content
					</p>
				</div>
			</div>
		</div>
		<div class="coment-area">
			<ul class="we-comet">
				<li>
					<ul>
						@{
							<li>
								@*{
									int commentCount = communityPost.CommunityPostComments.Count();
									for (int j = 0; j < commentCount; j++)
									{
										ViewData["comment"] = communityPost.CommunityPostComments.ElementAt(j);
										<partial name="Post Elements/_comment" view-data="ViewData" />
									}
								}*@
							</li>
						}
					</ul>
				</li>
				<li>
					<a href="#" title="" class="showmore underline">more comments</a>
				</li>
				<li class="post-comment">
					<div class="comet-avatar">
						<img src="images/resources/comet-1.jpg" alt="">
					</div>
					<div class="post-comt-box">
						<form method="post">
							<textarea placeholder="Post your comment"></textarea>
							<div class="add-smiles">
								<span class="em em-expressionless" title="add icon"></span>
							</div>
							<div class="smiles-bunch">
								<i class="em em---1"></i>
								<i class="em em-smiley"></i>
								<i class="em em-anguished"></i>
								<i class="em em-laughing"></i>
								<i class="em em-angry"></i>
								<i class="em em-astonished"></i>
								<i class="em em-blush"></i>
								<i class="em em-disappointed"></i>
								<i class="em em-worried"></i>
								<i class="em em-kissing_heart"></i>
								<i class="em em-rage"></i>
								<i class="em em-stuck_out_tongue"></i>
							</div>
							<button type="submit"></button>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
