@{
	<div class="central-meta item">
		<div class="user-post">
			<div class="friend-info">
				<div class="friend-name">
					<ins><a href="https://www.annualreviews.org/doi/abs/10.1146/annurev-biophys-062215-010822" title="">CRISPR–Cas9 structures and mechanisms</a></ins>
					<span>published: june, 2 2018</span>
				</div>
				<div class="post-meta">
					<img src="images/resources/resource-post.jpg" alt="">
					<div class="we-video-info">
						<ul>
							<li>
								<span class="views" data-toggle="tooltip" title="views">
									<i class="fa fa-eye"></i>
									<ins>1.2k</ins>
								</span>
							</li>
							<li>
								<span class="comment" data-toggle="tooltip" title="Comments">
									<i class="fa fa-comments-o"></i>
									<ins>52</ins>
								</span>
							</li>
							<li>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</li>
							<li>
								<button type="button" class=" btn btn-outline-success">Add to favorites</button>
							</li>
							<li class="social-media">
								<div class="menu">
									<div class="btn trigger"><i class="fa fa-share-alt"></i></div>
									<div class="rotater">
										<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon">
											<a href="#" title=""><i class="fa fa-instagram"></i></a>
										</div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon">
											<a href="#" title=""><i class="fa fa-dribbble"></i></a>
										</div>
									</div>
									<div class="rotater">
										<div class="btn btn-icon">
											<a href="#" title=""><i class="fa fa-pinterest"></i></a>
										</div>
									</div>

								</div>
							</li>
						</ul>
					</div>
					<div class="description">
						<span style="font-weight: bold">Abstract</span>
						<p>
							Many bacterial clustered regularly interspaced short palindromic repeats (CRISPR)–CRISPR-associated (Cas) systems employ the dual RNA–guided DNA endonuclease Cas9 to defend against invading phages and conjugative plasmids by
							introducing site-specific double-stranded breaks in target DNA. Target recognition strictly requires the presence of a short protospacer adjacent motif (PAM) flanking the target site, and subsequent R-loop formation and strand
							scission are driven by complementary base pairing between the guide RNA and target DNA, Cas9–DNA interactions, and associated conformational changes. The use of CRISPR–Cas9 as an RNA-programmable DNA targeting and editing platform
							is simplified by a synthetic single-guide RNA (sgRNA) mimicking the natural dual trans-activating CRISPR RNA (tracrRNA)–CRISPR RNA (crRNA) structure. This review aims to provide an in-depth mechanistic and structural understanding
							of Cas9-mediated RNA-guided DNA targeting and cleavage. Molecular insights from biochemical and structural studies provide a framework for rational engineering aimed at altering catalytic function,
							guide RNA specificity, and PAM requirements and reducing off-target activity for the development of Cas9-based therapies against genetic diseases.
						</p>
					</div>
				</div>
			</div>
			<div class="coment-area">
				<ul class="we-comet">
					<li>
						@*<partial name="Post Elements/_comment" />*@
						<ul>
							<li>
								@*<partial name="Post Elements/_comment" />*@
							</li>
							<li>
								@*<partial name="Post Elements/_comment" />*@
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="" class="showmore underline">more comments</a>
					</li>
					<li class="post-comment">
						<div class="comet-avatar">
							<img src="images/profile/admin.png" alt="">
						</div>
						<div class="post-comt-box">
							<form method="post">
								<textarea placeholder="Post your comment"></textarea>
								<div class="add-smiles">
									<span class="em em-expressionless" title="add icon"></span>
								</div>
								<div class="smiles-bunch">
									<i class="em em---1"></i>
									<i class="em em-smiley"></i>
									<i class="em em-anguished"></i>
									<i class="em em-laughing"></i>
									<i class="em em-angry"></i>
									<i class="em em-astonished"></i>
									<i class="em em-blush"></i>
									<i class="em em-disappointed"></i>
									<i class="em em-worried"></i>
									<i class="em em-kissing_heart"></i>
									<i class="em em-rage"></i>
									<i class="em em-stuck_out_tongue"></i>
								</div>
								<button type="submit"></button>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
}