<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-files"></i>
				<a href="/Admin Dashboard/dashboard" title="">Main Board</a>
			</li>
			<li>
				<i class="ti-files"></i>
				<a href="/Admin Dashboard/tickets" title="">Tickets</a>
			</li>
			<li>
				<i class="ti-files"></i>
				<a href="/Admin Dashboard/user-management" title="">User Management</a>
			</li>
		</ul>
</aside>