@page
@model ScholarStack.Pages.AboutUsModel
@{
	ViewData["Title"] = "About Us";
}

<section>
	<div class="ext-gap bluesh high-opacity">
		<div class="content-bg-wrap" style="background: url(images/resources/animated-bg2.png)"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="top-banner">
						<h1>About Our Company</h1>
						<nav class="breadcrumb">
							<a class="breadcrumb-item" href="Index">Home</a>
							<span class="breadcrumb-item active">About us</span>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- top area animated -->

<section>
	<div class="gap100 no-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-winku">
						<h4>Welcome to ScholarStack</h4>
						<span>We connect scholars, however distant!</span>
						<p>We were founded in 2023 by Ahmed Hesham, Mohammed Ayman, and Mohammed Magdy. Our main aim is to provide a venue for schoalrs and academics to read the latest updates in science, share their recent works, ask questions, and get personalized recommendations based on their recent activities!</p>
						<div class="fonder">
							<h4>Ahmed Hesham<i> Co-Founder</i></h4><br />
							<h4>Mohammed Ayman<i> Co-Founder</i></h4><br />
							<h4>Mohammed Magdi<i> Co-Founder</i></h4>
							<i>ScholarStack</i>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<figure class="about-picture">
						<img src="images/brand images/logo.png" alt="">
					</figure>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="gap100">
		<div class="container">
			<div class="col-lg-12">
				<div class="section-heading">
					<h2>Our Services</h2>
				</div>
			</div>
			<div class="servic-category">
				<div class="row merged">
					<div class="col-lg-4 col-md-6">
						<div class="category-box">
							<h2>Personalized Research Feed</h2>
							<p>Met consectetur adipisicing elit dolore suscipit, inventore aliquid...</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="category-box selected">
							<h2>Community Interaction</h2>
							<p>Met consectetur adipisicing elit dolore suscipit, inventore aliquid...</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="category-box">
							<h2>Updated, Trusted Science</h2>
							<p>Met consectetur adipisicing elit dolore suscipit, inventore aliquid...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- services section -->

<section>
	<div class="gap100 pattern">
		<div class="bg-image" style="background-image:url(images/resources/newsletter-bg.jpg); background-repeat: no-repeat;"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="news-letter">
						<h2>Newsletter <span>Signup</span></h2>
						<span>Shortest Way To Explore What Will Happen On Enternity</span>
						<form method="post">
							<input type="text" placeholder="Please Type Email Id" class="emails">
							<button>Subscribe Now</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- news letter -->

<section>
	<div class="gap100">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-heading">
						<h2>Our Team</h2>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6" style="margin-right: 50px; margin-left: 50px;">
					<div class="our-teambox">
						<figure><img src="images/resources/team1.jpg" alt=""></figure>
						<div class="team-info">
							<h4>Ahmed Hesham</h4>
							<span>Developer</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6" style="margin-right: 50px; margin-left: 50px;">
					<div class="our-teambox">
						<figure><img src="images/resources/team4.jpg" alt=""></figure>
						<div class="team-info">
							<h4>Mohammed Ayman</h4>
							<span>Developer</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6" style="margin-left:50px;">
					<div class="our-teambox">
						<figure><img src="images/resources/team3.jpg" alt=""></figure>
						<div class="team-info">
							<h4>Mohammed Magdi</h4>
							<span>Developer</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- our team -->

<section>
	<div class="gap100 no-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="section-heading">
							<h2>Sponsors</h2>
						</div>
						<ul class="sponsor-logo">
							<li><img alt="" src="images/resources/sponsor-gray1.png"></li>
							<li><img alt="" src="images/resources/sponsor-gray2.png"></li>
							<li><img alt="" src="images/resources/sponsor-gray3.png"></li>
							<li><img alt="" src="images/resources/sponsor-gray4.png"></li>
							<li><img alt="" src="images/resources/sponsor-gray5.png"></li>
							<li><img alt="" src="images/resources/sponsor-gray6.png"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>		
