@page
@model ScholarStack.Pages.edit_account_settingsModel
@{
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Scholar Stack - Profile</title>
		<link rel="icon" href="images/fav.png" type="image/png" sizes="16x16">

		<link rel="stylesheet" href="css/main.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/color.css">
		<link rel="stylesheet" href="css/responsive.css">

	</head>
	<body>
		<!--<div class="se-pre-con"></div>-->
		<div class="theme-layout">

			<section>
				<div class="feature-photo">
					<figure><img src="images/resources/timeline-1.jpg" alt=""></figure>
					<div class="add-btn">
						<span>1205 followers</span>
						<a href="#" title="" data-ripple="">Add Friend</a>
					</div>
					<form class="edit-phto">
						<i class="fa fa-camera-retro"></i>
						<label class="fileContainer">
							Edit Cover Photo
							<input type="file" />
						</label>
					</form>
					<div class="container-fluid">
						<div class="row merged">
							<div class="col-lg-2 col-sm-3">
								<div class="user-avatar">
									<figure>
										<img src="images/resources/user-avatar.jpg" alt="">
										<form class="edit-phto">
											<i class="fa fa-camera-retro"></i>
											<label class="fileContainer">
												Edit Display Photo
												<input type="file" />
											</label>
										</form>
									</figure>
								</div>
							</div>
							<div class="col-lg-10 col-sm-9">
								<div class="timeline-info">
									<ul>
										<li class="admin-name">
											<h5>Janice Griffith</h5>
											<span>Group Admin</span>
										</li>
										<li>
											<a class="active" href="Profile" title="" data-ripple="">Profile</a>
											<a class="" href="fav-resources" title="" data-ripple="">Favorites</a>
											<a class="" href="Edit-Profile-Basic" title="" data-ripple="">Settings</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- top area -->

			<section>
				<div class="gap gray-bg">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="row" id="page-contents">
									<div class="col-lg-3">
										<aside class="sidebar static">
											<div class="widget">
												<h4 class="widget-title">Edit info</h4>
												<ul class="naves">
													<li>
														<i class="ti-info-alt"></i>
														<a title="" href="Edit-Profile-Basic">Basic info</a>
													</li>
													<li>
														<i class="ti-settings"></i>
														<a title="" href="edit-account-settings">Account settings</a>
													</li>
													<li>
														<i class="ti-lock"></i>
														<a title="" href="edit-password">Change password</a>
													</li>
												</ul>
											</div>
										</aside>
									</div><!-- sidebar -->
									<div class="col-lg-6">
										<div class="central-meta">
											<div class="onoff-options">
												<h5 class="f-title"><i class="ti-settings"></i>account setting</h5>
												<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
												<form method="post">
													<div class="setting-row">
														<span>Sub users</span>
														<p>Enable this if you want people to follow you</p>
														<input type="checkbox" id="switch00" />
														<label for="switch00" data-on-label="ON" data-off-label="OFF"></label>
													</div>
													<div class="setting-row">
														<span>Enable follow me</span>
														<p>Enable this if you want people to follow you</p>
														<input type="checkbox" id="switch01" />
														<label for="switch01" data-on-label="ON" data-off-label="OFF"></label>
													</div>
													<div class="setting-row">
														<span>Send me notifications</span>
														<p>Send me notification emails my friends like, share or message me</p>
														<input type="checkbox" id="switch02" />
														<label for="switch02" data-on-label="ON" data-off-label="OFF"></label>
													</div>
													<div class="setting-row">
														<span>Text messages</span>
														<p>Send me messages to my cell phone</p>
														<input type="checkbox" id="switch03" />
														<label for="switch03" data-on-label="ON" data-off-label="OFF"></label>
													</div>
													<div class="setting-row">
														<span>Enable tagging</span>
														<p>Enable my friends to tag me on their posts</p>
														<input type="checkbox" id="switch04" />
														<label for="switch04" data-on-label="ON" data-off-label="OFF"></label>
													</div>
													<div class="setting-row">
														<span>Enable sound Notification</span>
														<p>You'll hear notification sound when someone sends you a private message</p>
														<input type="checkbox" id="switch05" checked="" />
														<label for="switch05" data-on-label="ON" data-off-label="OFF"></label>
													</div>
													<div class="submit-btns">
														<button type="button" class="mtr-btn"><span>Cancel</span></button>
														<button type="button" class="mtr-btn"><span>Update</span></button>
													</div>
												</form>
											</div>
										</div>
									</div><!-- centerl meta -->
									<div class="col-lg-3">
										<aside class="sidebar static">
											<div class="widget">
												<h4 class="widget-title">Profile intro</h4>
												<ul class="short-profile">
													<li>
														<span>about</span>
														<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft </p>
													</li>
													<li>
														<span>fav tv show</span>
														<p>Sacred Games, Spartcus Blood, Games of Theron </p>
													</li>
													<li>
														<span>favourit music</span>
														<p>Justin Biber, Shakira, Nati Natasah</p>
													</li>
												</ul>
											</div>
											<div class="widget stick-widget">
												<h4 class="widget-title">Who's follownig</h4>
												<ul class="followers">
													<li>
														<figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
														<div class="friend-meta">
															<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
															<a href="#" title="" class="underline">Add Friend</a>
														</div>
													</li>
													<li>
														<figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
														<div class="friend-meta">
															<h4><a href="time-line.html" title="">Issabel</a></h4>
															<a href="#" title="" class="underline">Add Friend</a>
														</div>
													</li>
													<li>
														<figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>
														<div class="friend-meta">
															<h4><a href="time-line.html" title="">Andrew</a></h4>
															<a href="#" title="" class="underline">Add Friend</a>
														</div>
													</li>
													<li>
														<figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>
														<div class="friend-meta">
															<h4><a href="time-line.html" title="">Sophia</a></h4>
															<a href="#" title="" class="underline">Add Friend</a>
														</div>
													</li>
													<li>
														<figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
														<div class="friend-meta">
															<h4><a href="time-line.html" title="">Allen</a></h4>
															<a href="#" title="" class="underline">Add Friend</a>
														</div>
													</li>
												</ul>
											</div><!-- who's following -->
										</aside>
									</div><!-- sidebar -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="side-panel">
			<h4 class="panel-title">General Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>use night mode</span>
					<input type="checkbox" id="nightmode1" />
					<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notifications</span>
					<input type="checkbox" id="switch22" />
					<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notification sound</span>
					<input type="checkbox" id="switch33" />
					<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>My profile</span>
					<input type="checkbox" id="switch44" />
					<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show profile</span>
					<input type="checkbox" id="switch55" />
					<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
			<h4 class="panel-title">Account Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>Sub users</span>
					<input type="checkbox" id="switch66" />
					<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>personal account</span>
					<input type="checkbox" id="switch77" />
					<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Business account</span>
					<input type="checkbox" id="switch88" />
					<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show me online</span>
					<input type="checkbox" id="switch99" />
					<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Delete history</span>
					<input type="checkbox" id="switch101" />
					<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Expose author name</span>
					<input type="checkbox" id="switch111" />
					<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
		</div><!-- side panel -->

		<script src="js/main.min.js"></script>
		<script src="js/script.js"></script>

	</body>
}
