@page
@model ScholarStack.Pages.LoginModel
@{
	Layout = null;
}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>ScholarStack - Login</title>
	<link rel="icon" href="images/brand images/icon.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="css/main.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/responsive.css">

</head>
<body>
	<!--<div class="se-pre-con"></div>-->
	<div class="theme-layout">
		<div class="container-fluid pdng0">
			<div class="row merged">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="land-featurearea">
						<div class="land-meta">
							<div>
								<span><img src="images/brand images/logo_transparent_wide_white.png" alt=""></span>
							</div>
							<p>
								ScholarStack helps you grow your personal network of Scholars and Researchers around the world.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="login-reg-bg">
						<div class="log-reg-area sign">
							<h2 class="log-title">Login</h2>
							<p>
								New to ScholarStack? <button class="btn-primary signup">Join now</button> to become a Scholar
							</p>
							<form method="post" asp-page-handler="Login" asp-model="loginViewModel">
								<div class="form-group">
									<input type="text" id="input" asp-for="loginViewModel.Username" required="required"/>
									<label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
									<span asp-validation-for="loginViewModel.Username" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="password" asp-for="loginViewModel.Password" required="required" />
									<label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
									<span asp-validation-for="loginViewModel.Password" class="text-danger"></span>
								</div>
								<div class="checkbox">
									<label>
										<input type="checkbox" checked="checked" /><i class="check-box"></i>Always Remember Me.
									</label>
								</div>
								<a href="#" title="" class="forgot-pwd">Forgot Password?</a>
								<span class="text-danger">
									@if (ModelState.ContainsKey("InvalidLogin") && !string.IsNullOrEmpty(ModelState["InvalidLogin"].Errors.FirstOrDefault()?.ErrorMessage))
									{
										@ModelState["InvalidLogin"].Errors.FirstOrDefault()?.ErrorMessage
									}
								</span>
								<div class="submit-btns">
									<button class="mtr-btn signin" type="submit"><span>Login</span></button>
									<button class="mtr-btn signup" type="button"><span>Register</span></button>
								</div>
								<br>
								<div>
									<button class="mtr-btn" type="button">
										<img src="images/google_white.png" width="25" style="margin-right: 5px; margin-left: -2px"/>
										<span>Login with Google</span>
									</button>
								</div>
							</form>
						</div>
						<div class="log-reg-area reg">
							<h2 class="log-title">Register</h2>
							<form method="post" asp-page-handler="Register" asp-model="registerViewModel" id="registration-form">
								<div class="form-group">
									<input type="text" required="required" asp-for="registerViewModel.FirstName">
									<label class="control-label" for="input">First Name</label><i class="mtrl-select"></i>
									<span asp-validation-for="registerViewModel.FirstName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="text" required="required" asp-for="registerViewModel.LastName">
									<label class="control-label" for="input">Last Name</label><i class="mtrl-select"></i>
									<span asp-validation-for="registerViewModel.LastName" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="text" required="required" asp-for="registerViewModel.Username">
									<label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
									<span asp-validation-for="registerViewModel.Username" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="email" required="required" asp-for="registerViewModel.Email">
									<label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
									<span asp-validation-for="registerViewModel.Email" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="password" required="required" asp-for="registerViewModel.Password">
									<label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
									<span asp-validation-for="registerViewModel.Password" class="text-danger"></span>
								</div>
								<div class="form-group">
									<input type="text" required="required" asp-for="registerViewModel.GoogleScholarURL">
									<label class="control-label" for="input">Google Scholar Profile URL</label><i class="mtrl-select"></i>
									<span asp-validation-for="registerViewModel.GoogleScholarURL" class="text-danger"></span>
								</div>
								<a href="#" title="" class="already-have">Already have an account</a>
								<div class="submit-btns">
									<button class="mtr-btn signup" id="register-form" type="submit"><span>Register</span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/register.js"></script>

</body>
