@{
	<section>
		<div class="feature-photo">
			<figure><img src="images/resources/timeline-1.jpg" alt=""></figure>
			<form class="edit-phto">
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					Edit Cover Photo
					<input type="file" />
				</label>
			</form>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="images/resources/user-avatar.jpg" alt="">
								<form class="edit-phto">
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Edit Display Photo
										<input type="file" />
									</label>
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
									<h5 style="text-transform: capitalize">@Model.AuthenticatedUser.FirstName @Model.AuthenticatedUser.LastName</h5>
								</li>
								<li>
									<a class="active" href="Profile" title="" data-ripple="">Profile</a>
									<a class="" href="fav-resources" title="" data-ripple="">Favorites</a>
									<a class="" href="Edit-Profile-Basic" title="" data-ripple="">Settings</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- top area -->
}