@{
	<div class="col-lg-3">
		<aside class="sidebar static">
			<div class="widget">
				<h4 class="widget-title">Google Scholar Account</h4>	
				<div class="your-page">
					<figure>
						<a href="#" title=""><img src="images/resources/admin2.jpg" alt=""></a>
					</figure>
					<div class="page-meta">
						<a href="@Model.AuthenticatedUser.GoogleScholarURL" title="" class="underline">@Model.AuthenticatedUser.FirstName @Model.AuthenticatedUser.LastName's Scholar Profile</a>
					</div>
					<div class="page-likes">
						<ul class="nav nav-tabs likes-btn">
							<li class="nav-item"><a class="active" href="https://scholar.google.com.eg/citations?hl=en&user=wejiWMcAAAAJ&view_op=list_works" data-toggle="tab">Citations</a></li>
							<li class="nav-item"><a class="active" href="https://scholar.google.com.eg/citations?hl=en&user=wejiWMcAAAAJ&view_op=list_works&sortby=pubdate" data-toggle="tab">Latest</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active fade show " id="link1" >
								<span><i class="fa fa-book"></i>273</span>
							</div>
						</div>
					</div>
					</div>
				</div>
		</aside>
		</div>
		
	
}